<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
 
<!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
 
<!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>
</head>
<body>

<link th:replace="common :: topmenu">
<h3 class="row col-8 offset-2 text-danger">[[${gamemsg}]]</h3>

    <br><br><br><br><br><br><br><br>

    <div class="row col-4 offset-4">
        <button type="button" class="btn btn-danger">剩余时间<br>[[${date}]]
        </button>
    </div>

    <br><br><br><br><br>

        <div class="dropdown row">
            <button type="button" class="btn btn-info dropdown-toggle col-3 offset-2" data-bs-toggle="dropdown">
                游戏
            </button>
            <div class="dropdown-menu row col-3">
                <a class="dropdown-item" th:href="@{/game}">新游戏</a>
                <a class="dropdown-item" th:href="@{/lockon}">解锁</a>
                <a class="dropdown-item" th:href="@{/gameclean}">清洁</a>
                <a class="dropdown-item" th:href="@{/delgame}">删除</a>
                <a class="dropdown-item" th:href="@{/withgame}">分享</a>
            </div>
            <button type="button" class="btn btn-primary dropdown-toggle col-3 offset-2" data-bs-toggle="dropdown">
                其他
            </button>
            <div class="dropdown-menu row col-3">
                <a class="dropdown-item" th:href="@{/friend}">好友</a>
                <a class="dropdown-item" th:href="@{/control}">锁期管理</a>
                <a class="dropdown-item" th:href="@{/attribute}">关系</a>
            </div>
        </div>

<br><br>


        <form style="margin:0px;display:inline;" th:action="@{/open}">
            <button type="submit" class="btn btn-success col-2 offset-5">撬锁</button>
        </form>






</body>
</html>