<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>masterhome</title>
</head>
<body>
<!-- 导航栏 -->
<nav th:fragment="topmenu" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/masterhome}">LockControl</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/masterhome}">----主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">----账号管理</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table">
    <tr>
        <th>游戏id</th>
        <th>用户名</th>
        <th>是否完成</th>
        <th>通过</th>
    </tr>
    <tr th:each="masterTasks : ${game}">
        <td th:text="${masterTasks.id}">id</td>
        <td th:text="${masterTasks.userName}">用户名</td>
        <td th:text="${masterTasks.status}">yes</td>
        <td>
            <form th:action="@{/materyestask}">
                <input type="hidden" name="id" th:value="${masterTasks.id}">
                <button class="button">√</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>